/*.item1{  
    grid-area: Header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area:Right ;
}
.item5{
    grid-area: footer;
}
.grid-container{
    display: grid;
    grid-template-areas: "header header header header header header"
     "menu  main  main   main right right" 
     "munu footer footer footer footer footer";
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}*/
/* =========================================================================================================================================== */
body{
    background-color: aqua;
}
.content h1{
    font-size: 60px;
    color: white;
    text-align: center;
}
.content p{
    color: yellow;
    font-size: 40px;
}
/* teblet view */
@media screen and (max-width: 768px){
    body{
        background-color: bisque;
    }
    .content h1{
        color: red;
    }
    .content p{
        color: blue;
        font-size: 30px;
    }
}
/* mobile view */
@media screen and (max-width: 425px){
    body{
        background-color: blue;
    }
    .content h1{
     font-size: 30px;
    }
    .content p{
        background-color: yellow;
    }
}